@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: nunito;
}

.hvr a:hover {
  transition: 200ms;
  color: #35c6a0;
}

h1 {
  color: #525252;
}

.card {
  padding: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  /* width:290px;
  height:360px; */
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  font-size: 1.125rem;
}

.image {
  width: ;
  height: ;
}

.desk {
  margin-top: 10px;
  color: #8f8f8f;
}

.image-hero {
  /* padding:30px; */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.double-hero-desk {
  /* padding:30px; */
  width: 60%;
}

.double-hero-desk h4 {
  color: #8f8f8f;
  font-size: 2rem;
  font-weight: 600;
}

.testi-text p {
  color: #8f8f8f;
  font-size: 20px;
  font-weight: 600;
}

.person-name p {
  font-weight: 700;
  color: #b8b8b8;
}

.person-name h5 {
  font-size: 24px;
  font-weight: 700;
}

ul li {
  display: flex;
}

.footer ul li a:hover {
  border-bottom: 1px solid #525252;
}
